.dashboard-container {
    gap: 1.5rem;
}

.dash-card {
    border-radius: 15px;
    box-shadow: grey 2px 2px 4px;
    min-height: 15rem;
    transition: 300ms ease-in-out;
}

.dash-card:hover {
    box-shadow: grey 3px 3px 3px;
}

.dash-card-img {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 2rem;
    transition: 300ms ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dark-overlay:hover {
    background-color: rgba(0, 0, 0, 0.45)
}

.dash-card-content > h3 {
    font-size: 2rem;
}

.dash-card-content > p {
    font-size: 1.25rem;
}

/* media queries */

@media screen and (max-width: 55rem) {
    .dashboard-container {
        gap: 1rem;
    }
    .dash-card {
        min-height: 10rem;
    }
}