button {
    width: 100%;
    border-radius: 2.5px;
    padding: 0.8rem;
    border: none;
}

button:hover {
    background-color: #6be8c3;
    cursor: pointer;
}

.btn-nav:hover {
    background-color: #f2f3f4;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.btn-primary {
    background-color: #65dbb8;
    color: #262637;
    font-family: EffraBold;
    font-size: 1.05rem;
}

