.card {
    width: 100%;
}

.card-image {
    width: 100%;
    min-height: 9rem;
    background-size: cover;
    border-radius: 2.5px 2.5px 0 0;
}

.card-border {
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
}

.card-content {
    padding: 1rem;
    border: 1px solid rgb(195, 195, 195);
    border-top: none;
    min-height: 12rem;
}

.card-content label {
    font-size: 0.9rem;
    font-family: EffraReg;
    color: grey;
}

.card-content .card-content-title {
    font-family: EffraBold;
}

.card-content > * {
    margin: 0.5rem 0;
}

.card-link {
    padding: 1rem;
    border: 1px solid rgb(195, 195, 195);
    border-top: none;
    border-radius: 0 0 2.5px 2.5px;
}

/* account-card */

.account-card {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(195, 195, 195);
    min-height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.account-card > *, .account-card-buttons > * {
    margin: 0.2rem 0;
    text-align: center;
}

.account-card .account-card-img {
    background-image: url(../assets/accountCardImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50%;
}

/* where can i live */

.whereCanILive {
    grid-area: whereCanILive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "whereCanILiveContent whereCanILiveContent whereCanILiveImg";
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.whereCanILive > .content {
    padding: 1rem;
    grid-area: whereCanILiveContent;
}

.whereCanILive > .content > * {
    margin: 0.5rem 0;
}

.whereCanILive > .whereCanILiveImg {
    background-image: url(../assets/whereCanILive.jpeg);
    background-size: cover;
    border-radius: 0 5px 5px 0;
}

/* recent-searches */

.recent-searches {
    padding: 1rem;
}

.recent-searches .recent-search {
    margin: 0.5rem 0;
}

.recent-search > p {
    font-size: 0.9rem;
}

.recent-search > * {
    margin: 0.3rem 0;
}

/* borderless-card */

.borderless-card {
    padding: 1rem 0;
}

.borderless-card > * {
    margin: 0.5rem 0;
}

/* mobile-home-link  */

.mobile-home-link {
    display: grid;
    grid-template-columns: 0.05fr 0.95fr;
    align-items: center;
    grid-template-areas:
    'mobile-home-link-img mobile-home-link-h3'
    'mobile-home-link-img mobile-home-link-p'
    ;
    padding: 1rem;
    gap: 0 1rem;
    background-color: white;
    box-shadow: rgb(197, 197, 197) 0px 0px 2px;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.mobile-home-link h3 {
    grid-area: mobile-home-link-h3;
}
.mobile-home-link div {
    grid-area: mobile-home-link-img;
}
.mobile-home-link p {
    grid-area: mobile-home-link-p;
    color: #64a5b0;
}

.mobile-home-link-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

/* media query */

@media screen and (max-width: 55rem) {
    
}