/* button */

.btn {
    border-radius: 10px;
    cursor: pointer;
}

.btn-nav {

}

.btn-nav:hover {
    background-color: #f2f3f4;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}