.home-hero {
    margin: -6rem 3rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white;
}

.home-hero-image {
    background-image: url(../assets/hero_image.jpeg);
    width: 100vw;
    min-height: 15rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.home-hero-container {
    background: #262637;
    width: 75%;
    max-width: 750px;
    min-height: 10rem;
    display: grid;
    place-items: center;
    position: relative;
    top: 2.5rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: grey 0px 0px 2px;
}

.home-title > * {
    text-align: center;
    margin: 1rem 0;
}

.home-title > p {
    font-size: 1.2rem;
    font-family: EffraBold;
}

.home-title h1 {
    color: #00DEB6;
    font-family: EffraReg;
    font-size: 2.5rem;
}

.home-hero-search {
    display: grid;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    gap: 1rem;
}

.home-hero-search input {
    padding: 1rem 1rem;
    border-radius: 5px;
}

.home-content {
    width: 100%;
    display: grid;
    margin-top: 10rem;
    gap: 1rem;
}

.home-card-section {
    background: red;
    height: 15rem;
    width: 100%;
    display: flex;
    margin-top: 15rem;
}

.home-cards-section-2 {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-areas: 
    "whereCanILive whereCanILive whereCanILive";
}

/* mobile */

.home-title-background {
    padding: 1rem;
    background-color: #262637;
    border-radius: 5px;
}

.mobile-home-content .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* media query */

@media screen and (max-width: 55rem) {
    .home-hero-image {
        display: none;
    }
    .mobile-hide {
        display: none;
    }
}