.home-hero {
    margin: -6rem 3rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white;
}

.home-hero-image {
    background-image: url(../assets/hero_image.jpeg);
    width: 100vw;
    min-height: 15rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.home-hero-container {
    background: #262637;
    min-width: 75%;
    min-height: 10rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    padding: 1rem;
}

.home-hero-search h1 {
    color: #00DEB6;
    font-family: EffraBold;
}

.home-title {
    text-align: center;
}

.home-hero-search {
    display: grid;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    gap: 1rem;
}

.home-hero-search input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}