/* fonts */

@font-face {
    font-family: EffraBold;
    src: url(../assets/Effra_Std_Bd.ttf);
}

@font-face {
    font-family: EffraLt;
    src: url(../assets/Effra_Std_Lt.ttf);
}

@font-face {
    font-family: EffraReg;
    src: url(../assets/EffraRg.ttf);
}

/* body */
body {
    background-color: #f4f4f5;
}

/* coming soon */

.comingSoonLogoDiv h1 {
    font-family: EffraBold;
    color: #262637;
}

.comingSoonLogoDiv > * {
    display: inline-block
}

/* remove defaults */

a, li, ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

/* reusable classes */

.one-column-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.four-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mx-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.effraBold {
    font-family: EffraBold;
}

.effraLt {
    font-family: EffraLt;
}

.effraReg {
    font-family: EffraReg;
}

/* inline-link */

.inline-link > p > a {
    font-family: EffraReg;
    color: #64a5b0;
    margin: 0.5rem 0;
}

.inline-link > p > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 55rem) {
    .two-column-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}