input {
    width: 100%;
    display: block;
    padding: 0.8rem;
    border: 1px rgb(220, 220, 220) solid;
    color: black;
    border-radius: 5px;
}

input:active {
    border: 1px black solid;
}

input:valid {
    border: green 1.5px solid;
}