.listing-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
}

.listing-card:hover {
    cursor: pointer;
}

.sales-all-image {
    display: flex;
    align-items: flex-end;
    border-radius: 0.5rem 0 0 0.5rem;
    min-height: 350px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    padding-left: 0
}

.sales-all-price {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.sales-all-listing-data {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sales-all-listing-data > * {
    margin: 0.5rem;
}

.sales-all-listing-data > div > h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.sales-all-bathbedtype {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.sales-all-bathbedtype > * {
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.sales-all-agent {
    display: flex;
    gap: 1rem;
}

.sales-all-agent-contact {
    
}

.sales-all-agent-contact > * {
    margin: 0.2rem 0;
}

@media screen and (max-width: 55rem) {
    .sales-all-image {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .sales-all-listing-data > div > h3 {
        font-size: 1.2rem;
    }
}